
  body {
    font-family: 'Playfair Display', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #F2F2F2;
    margin: 5;
    padding: 25px; 
  }

 h2, h4 {
    color: #AB1527;
    font-size: 37px;
    text-align: center;

  }
  h3{
     color: #0B6328;
    font-size: 25px;
    text-align: left;
  }
  h1{ color: #AB1527;
    font-size: 50px;
    text-align: center;}
  
  .navStyle {
    background-color: #04217A;
    padding: 10px 25px; 
  }

  .navItem {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
  }

  .navItem:hover {
    text-decoration: underline;
    color: #AB1527;
  }

  .footerStyle {
    background-color: #AB1527;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
  }

  .rtt {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0B6328;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
  }

  .rtt a {
    color: white;
    text-decoration: none;
  }

  .rtt:hover {
    background-color: #0B6328;
  }

  figcaption {
    font-family: 'Roboto condensed', sans-serif;
    color: #AB1527;
    text-align: center;
    font-size: 0.75em;
    color: #0B6328;
  }

  .photo-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .photo-gallery figure {
    width: 65%;
    text-align: center;
    margin: 0;
  }
.photo-gallery img {
  width: 100%;  
  height: auto;
  border-radius: 10px;
}

.photo-gallery figcaption {
  font-family: 'Roboto condensed', sans-serif;
  color: #333; 
  margin-top: 8px;
}

  .cell {
    padding: 15px;
  }

  .fullwidth-img {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
  }

